$font-stack:  "DejaVu Sans" , Helvetica, sans-serif;
$primary-color: 	#428bca;

.gpio-state {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  color: $primary-color;
}

.svg {
  fill: darkgreen;
}
.material-icons.redicon { color: #ff3b36; }
.material-icons.greenicon  { color: darkgreen; }
.material-icons.primary { color: $primary-color;}
