  <table border="0px">
    <tr *ngFor="let gpio of configuration?.gpios">
      <td>
        <span *ngIf="!gpio.state"><img src="../../assets/images/button-red.svg"></span>
        <span *ngIf="gpio.state"><img src="../../assets/images/button-green.svg"></span>
      </td>
      <td>{{gpio.id}} - {{gpio.description}}</td>
      <img src="../../assets/images/button-green.svg" (click)="changeState(gpio.id,true)">
      <img src="../../assets/images/button-red.svg"  (click)="changeState(gpio.id,false)">
    </tr>
  </table>


