  <table border="0px">
    <tr *ngFor="let gpio of configuration?.gpios">
      <td>
        <i *ngIf="!gpio.state" class="material-icons redicon">swap_vert</i>
        <i *ngIf="gpio.state" class="material-icons greenicon">swap_vertical_circle</i>
      </td>
      <td>{{gpio.id}} - {{gpio.description}}</td>
      <i class="material-icons greenicon" (click)="changeState(gpio.id,true)">power_settings_new</i>
      <i class="material-icons redicon" (click)="changeState(gpio.id,false)">power_settings_new</i>
    </tr>
  </table>


